@model Gaming.Predictor.Admin.Models.QuestionsModel


<div class="row">
    @if (Model.QuestionStatus == "QuestionBank" || Model.QuestionStatus == "ActiveQuestions")
    {
        <span><a href="#">Add Trivia</a></span>
        <span><a href="#">Add Prediction</a></span>
    }
    @* @Model.MatchId*@
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel-body">
            <div class="table-responsive">
                <div class="dataTables_wrapper form-inline" role="grid">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer">
                        <thead>
                            <tr>
                                <th class="text-center">Sr No.</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Question</th>
                                <th class="text-center">Option 1</th>
                                <th class="text-center">Option 2</th>
                                <th class="text-center">Option 3</th>
                                <th class="text-center">Option 4</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                                foreach (var MatchQuestions in Model.matchQuestions)
                                {
                                    <tr>
                                        <td class="text-center">i</td>
                                        <td class="text-center">@MatchQuestions.QuestionType</td>
                                        <td class="text-center">@MatchQuestions.QuestionDesc</td>
                                        @foreach (var option in @MatchQuestions.Options)
                                        {
                                            <td class="text-center">@option.OptionDesc</td>
                                        }
                                        <td class="text-center">
                                            @if (Model.QuestionStatus == "QuestionBank")
                                            {
                                                <a href="#">Post</a>
                                            }
                                            @if (Model.QuestionStatus == "ActiveQuestions")
                                            {
                                                <a href="#">Resolve</a>
                                            }
                                            <a href="#">Edit</a>
                                            @if (Model.QuestionStatus == "QuestionBank")
                                            {
                                                <a href="#">Delete</a>
                                            }

                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>