@model Gaming.Predictor.Admin.Models.LeaderBoardModel

@{
    ViewData["Title"] = "AdminLeaderBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<form id="simulationForm" asp-controller="Home" asp-action="AdminLeaderBoard">*@
<form id="simulationForm" action="@String.Concat(ViewBag.BasePath,"AdminLeaderBoard")" method="post">
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">Locking</h4>
                </div>
            </div>

            @await Component.InvokeAsync("Message", new { component = ViewBag?.MessageType, message = ViewBag?.MessageText })

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper form-inline" role="grid">
                                <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Asset</th>
                                            <th class="text-center">Input</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td class="text-center">LeaderBoard Reports</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="TopUser" class="form-control" placeholder="*TopUserCount" />
                                                <select asp-for="LeaderBoardTypeId" class="form-control" asp-items="@(new SelectList(Model.LeaderBoardTypes, "LeaderBoardId", "LeaderBoardName"))"></select>
                                                <select asp-for="GamedayId" class="form-control" asp-items="@(new SelectList(Model.GamedayList))"></select>
                                                <select asp-for="PhaseId" class="form-control" asp-items="@(new SelectList(Model.PhaseList))"></select>
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="getusertoprank">SUBMIT</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <div>
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                        <thead>
                                            <tr><th colspan="6">LeaderBoard</th></tr>
                                            <tr>
                                                <th class="text-center">Rank</th>
                                                <th class="text-center">Row Number</th>
                                                @*<th class="text-center">SocialId</th>*@
                                                <th class="text-center">Username</th>
                                                <th class="text-center">EmailId</th>
                                                <th class="text-center">Mobile Number</th>
                                                <th class="text-center">Points</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.LeaderBoardList)
                                            {
                                                <tr>
                                                    <td align="center">@item.Rank</td>
                                                    <td align="center">@item.RankNo</td>
                                                    @*<td>@item.SocialId</td>*@
                                                    <td>@item.FullName</td>
                                                    <td>@item.EmailId</td>
                                                    <td>@item.PhoneNumber</td>
                                                    <td align="center">@item.Points</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>
    </div>
</form>