@model Gaming.Predictor.Admin.Models.Schedule
@using Gaming.Predictor.Contracts.Enums

@{
    ViewData["Title"] = "MatchSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @*<form asp-action="MatchSchedule">*@
        <form action="@String.Concat(ViewBag.BasePath,"MatchSchedule")" method="post">
            <div class="content-wrapper">
                <div class="container">

                    <div class="row pad-botm">
                        <div class="col-md-12">
                            <h2>Match Schedule</h2>

                            <h4>Schedule</h4>
                            <hr />
                        </div>
                    </div>

                    @await Component.InvokeAsync("Message", new { component = ViewBag?.MessageType, message = ViewBag?.MessageText })
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row align-items-center">
                                    <div class="col-md-4 text-center row align-items-center datepicker">
                                        <label asp-for="MatchDate" class="control-label"></label>
                                        <input asp-for="MatchDate" class="form-control" />
                                        <span asp-validation-for="MatchDate" class="text-danger"></span>
                                        <input type="submit" value="Search" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center row match-schdule-result">
                                @{
                                    foreach (var Fixtures in Model.Fixtures)
                                    {
                                <div class="col-md-2 match-box"
                                     onclick="location.href='@Url.Content(ViewBag.BasePath + String.Format("Questions?matchId={0}&header={1}&questionStatus={2}",
                                                  Fixtures.MatchId, Fixtures.TeamAName+" VS "+Fixtures.TeamBName, Convert.ToInt32(QuestionStatus.Unpublished).ToString()))'" style="border:solid;cursor: pointer;">
                                    @*@Url.Action("Questions", "Home", new { matchId = Fixtures.MatchId, header = Fixtures.TeamAName + " VS " + Fixtures.TeamBName, questionStatus = Convert.ToInt32(QuestionStatus.Unpublished).ToString() })'" style="border:solid;cursor: pointer;">*@

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">@Fixtures.TeamAName VS @Fixtures.TeamBName</h5>
                                            <p class="card-text">@Fixtures.Date</p>
                                        </div>
                                    </div>
                                </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>