
@model Gaming.Predictor.Admin.Models.SimulationModel

@*<form id="simulationForm" asp-controller="Home" asp-action="Simulation">*@
<form id="simulationForm" action="@String.Concat(ViewBag.BasePath, "Simulation")" method="post">
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">Locking</h4>
                </div>
            </div>

            @await Component.InvokeAsync("Message", new { component = ViewBag?.MessageType, message = ViewBag?.MessageText })

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper form-inline" role="grid">
                                <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Asset</th>
                                            <th class="text-center">Input</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">Master Data Rollback</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="masterdatarollback">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">User Data Rollback</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="userdatarollback">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Submit Match Lineups</td>
                                            <td class="text-center">
                                                <select asp-for="MatchFile" class="form-control" asp-items="@(new SelectList(Model.Matches, "MatchFile", "MatchName"))"></select>
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="submitMatchLineups">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Submit Match Toss</td>
                                            <td class="text-center">
                                                <select asp-for="TossMatchFile" class="form-control" asp-items="@(new SelectList(Model.Matches, "MatchFile", "MatchName"))"></select>
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="submitMatchToss">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Lock Match</td>
                                            <td class="text-center">
                                                <select asp-for="LockMatchId" class="form-control" asp-items="@(new SelectList(Model.Matches, "Id", "MatchName"))"></select>
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="matchlocking">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Lock Inning</td>
                                            <td class="text-center">
                                                <select asp-for="LockInningMatchId" class="form-control" asp-items="@(new SelectList(Model.Matches, "Id", "MatchName"))"></select>
                                                <input type="text" asp-for="InningId" class="form-control" placeholder="*InningId" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="inninglocking">SUBMIT</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">Unlock Inning</td>
                                            <td class="text-center">
                                                <select asp-for="UnlockInningMatchId" class="form-control" asp-items="@(new SelectList(Model.Matches, "Id", "MatchName"))"></select>
                                                <input type="text" asp-for="UnlockInningId" class="form-control" placeholder="*InningId" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="inningunlocking">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Submit Match Answers</td>
                                            <td class="text-center">
                                                <select asp-for="SubmitAnswerMatchId" class="form-control" asp-items="@(new SelectList(Model.Matches, "Id", "MatchName"))"></select>
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="matchanswers">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Run Point Calculation</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="pointcalculation">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Abandon Match</td>
                                            <td class="text-center">
                                                <select asp-for="AbandonMatchId" class="form-control" asp-items="@(new SelectList(Model.AbandonMatches, "Id", "MatchName"))"></select>
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="abandonmatch">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Delete Week Leaderboard File</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="DeleteWeekLeaderboard" class="form-control" placeholder="*Week Id" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="emptyweekleaderboard">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Delete Overall Leaderboard File</td>
                                            <td class="text-center">
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="emptyoverallleaderboard">SUBMIT</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Combine LB Service Status</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="DaemonServiceCombineLbStatus" class="form-control" placeholder="*0 or 1" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" name="process" value="daemonservicecombinelbstatus">SUBMIT</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>
    </div>
</form>